<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036784537000-2t0gv87ugthttq6fe41t5osnpeahsd6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036784537000-2t0gv87ugthttq6fe41t5osnpeahsd6n</string>
	<key>API_KEY</key>
	<string>AIzaSyDDkOG2Es-YwTWgyw3cnoGHQPIljPb94BE</string>
	<key>GCM_SENDER_ID</key>
	<string>1036784537000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Adopt-Me</string>
	<key>PROJECT_ID</key>
	<string>adopt-me-374910</string>
	<key>STORAGE_BUCKET</key>
	<string>adopt-me-374910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036784537000:ios:9ba67c1b21c820bb1ee19d</string>
	<key>DATABASE_URL</key>
	<string>https://adopt-me-374910-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>